table {
  width: 60%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  button {
    margin-top: 10px;
  }
}

.datepicker {
  margin-top: 10px;
}

